{{user.id}}

<form class="item-form" *ngIf="user" (ngSubmit)="onChangeData(usereditform)" #usereditform="ngForm">


  <mat-form-field>
    <input matInput id="email" name="email" placeholder="Email" [(ngModel)]="user.email" required>


  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput name="personid" placeholder="personid" [(ngModel)]="user.personid" required>

  </mat-form-field>


  <br>


  <mat-form-field>
    <input matInput name="firstname" placeholder="firstname" [(ngModel)]="user.firstname" required>

  </mat-form-field>

  <mat-form-field>
    <input matInput name="lastname" placeholder="lastname" [(ngModel)]="user.lastname" required>


  </mat-form-field>
  <br>

  <!--  <mat-form-field>
    <input matInput name="password" placeholder="Password" [(ngModel)]="user.password" type="password" required>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput name="c_password" placeholder="c_password" [(ngModel)]="user.c_password" type="password" required>
  </mat-form-field>
  <br> -->

  <mat-form-field>
    <input matInput name="annotation" placeholder="annotation" [(ngModel)]="user.annotation" ngModel>


  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-select name="role" placeholder="Role" [(ngModel)]="user.role">
      <mat-option name="role" value="Admin">Admin</mat-option>
      <mat-option name="role" value="User">User</mat-option>

    </mat-select>
  </mat-form-field>
  <br>






  <button mat-raised-button mat-dialog-close color="green" type="submit" [disabled]="!usereditform.valid">Save Edit</button>

</form>
