 <form class="item-form" *ngIf="user">
<mat-form-field>
   <input matInput name="email" placeholder="Email" [(ngModel)]="user.email" required>
</mat-form-field>
<br>

  <mat-form-field>
    <input matInput name="Matrikelnumber" placeholder="personid" [(ngModel)]="user.personid" required>
  </mat-form-field>


  <br>


  <mat-form-field>
    <input matInput name="firstname" placeholder="firstname" [(ngModel)]="user.firstname" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="lastname" placeholder="lastname" [(ngModel)]="user.lastname" required>
  </mat-form-field>
  <br>

 <!--  <mat-form-field>
    <input matInput name="password" placeholder="Password" [(ngModel)]="user.password" type="password" required>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput name="c_password" placeholder="c_password" [(ngModel)]="user.c_password" type="password" required>
  </mat-form-field>
  <br> -->

  <mat-form-field>
    <input matInput name="annotation" placeholder="annotation" [(ngModel)]="user.annotation">
  </mat-form-field>
  <br>






  <button mat-raised-button color="green" (click)='onChangeData()'>Save Edit</button>

</form>
