<!-- <div *ngFor="let item of items?.items">
  <div>{{item.name}}</div>

</div> -->

<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<mat-table [dataSource]='dataSource?.items'>

    <ng-container matColumnDef="barcode">
        <mat-header-cell *matHeaderCellDef>Barcode</mat-header-cell>
        <mat-cell *matCellDef="let items">{{items.barcode}}</mat-cell>
      </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.name}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
