
<form class="item-form">
  <mat-form-field>
<input matInput name="studenid" placeholder="Student ID" [(ngModel)]="studentid" required>



  </mat-form-field>


  <br>
  <mat-form-field>
    <input matInput name="email" placeholder="Email" [(ngModel)]="email" required>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput name="firstname" placeholder="firstname" [(ngModel)]="firstname" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="lastname" placeholder="lastname" [(ngModel)]="lastname" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="password" placeholder="Password" [(ngModel)]="password" required>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput name="c_password" placeholder="c_password" [(ngModel)]="c_password" required>
  </mat-form-field>
  <br>





<button mat-raised-button color="green" (click)='onSignup()'>Sign up</button>

</form>

