<form class="item-form"  (ngSubmit)="onChangeData(itemeditform)" #itemeditform="ngForm">


  <mat-form-field>
    <input matInput id="barcode" name="barcode" placeholder="Barcode" [(ngModel)]="item.barcode" required>


  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput name="name" placeholder="name" [(ngModel)]="item.name" required>



  </mat-form-field>


  <br>


  <mat-form-field>
    <input matInput name="description" placeholder="description" [(ngModel)]="item.description" required>




  </mat-form-field>

  <mat-form-field>
<mat-select name="room" placeholder="Room" [(ngModel)]="item.room">
      <mat-option name="room" value="multimedia">multimedia</mat-option>
      <mat-option name="room" value="bath">bath</mat-option>
      <mat-option name="room" value="kitchen">kitchen</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
<mat-select name="status" placeholder="Status" [(ngModel)]="item.status">
      <mat-option name="status" value="installed">installed</mat-option>
      <mat-option name="status" value="packaged">packaged</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <textarea matInput name="annotation" placeholder="Anmerkung" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
      [(ngModel)]="annotation"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="manufactor" placeholder="Hersteller" [(ngModel)]="manufactor">
  </mat-form-field>

  <br>
  <input type="file" (change)='onFileSelected($event)' name="image" id="image" type="file">
  <br>


  <br>


  <button mat-raised-button color="green" type="submit">Save Edit</button>

</form>
