<form class="item-form"  (ngSubmit)="onChangeData(itemeditform)" #itemeditform="ngForm" *ngIf="items">


  <mat-form-field>
    <input matInput id="barcode" name="barcode" placeholder="Barcode" [(ngModel)]="items.barcode" required>


  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput name="name" placeholder="name" [(ngModel)]="items.name" required>



  </mat-form-field>


  <br>


  <mat-form-field>
    <input matInput name="description" placeholder="description" [(ngModel)]="items.description" required>




  </mat-form-field>

  <mat-form-field>
<mat-select name="room" placeholder="Room" [(ngModel)]="items.room">
    <mat-option value="workplace">workplace</mat-option>
    <mat-option value="kitchen">kitchen</mat-option>
    <mat-option value="bath">bath</mat-option>
    <mat-option value="iot">IOT</mat-option>
    <mat-option value="media">media</mat-option>
    </mat-select>
  </mat-form-field>

<br>

<mat-form-field>
    <mat-select name="type" placeholder="Type" [(ngModel)]="items.type">
      <mat-option value="bulb">Bulb</mat-option>
      <mat-option value="equipment">equipment
      </mat-option>
      <mat-option value="operating element">operating element</mat-option>
      <mat-option value="sensor">sensor</mat-option>
      <mat-option value="microphone">microphone</mat-option>
      <mat-option value="camera">camera</mat-option>
      <mat-option value="device">device</mat-option>
      <mat-option value="socket">socket</mat-option>
      <mat-option value="book">book</mat-option>
      <mat-option value="tool">Tool</mat-option>
    </mat-select>
  </mat-form-field>
  <br>


  <mat-form-field>
      <mat-select name="status"  placeholder="Status" [(ngModel)]="items.status">
        <mat-option value="installed">installed</mat-option>
        <mat-option value="packaged">packaged</mat-option>
        <mat-option value="defect">defect</mat-option>
        <mat-option value="lend">lend</mat-option>
        <mat-option value="lost">lost</mat-option>
      </mat-select>
    </mat-form-field>



  <mat-form-field>
    <textarea matInput name="annotation" placeholder="Anmerkung" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
      [(ngModel)]="annotation"></textarea>
  </mat-form-field>

  <mat-form-field>
<input matInput name="manufactor" placeholder="Hersteller" [(ngModel)]="items.manufactor">
  </mat-form-field>

  <br>
  <input type="file" (change)='onFileSelected($event)' name="image" id="image" type="file">
  <br>


  <br>


  <button mat-raised-button  color="green" type="submit">Save Edit</button>

</form>
