<mat-toolbar color="primary">


  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-fill-remaining-space"></span>

    <span class="example-spacer" *ngIf="userClaims" >

      <a  [routerLink]="['/dash/edituser', userClaims.id]" >
        Profile

      </a>

    </span>

    <span class="example-spacer" >

      <a  [routerLink]="['/dash/items']" >
        Liste
      </a>

    </span>

    <span class="example-spacer" >

      <a (click)="onLogOut()">
        Log out

      </a>

    </span>


  </mat-toolbar-row>


</mat-toolbar>

<router-outlet></router-outlet>
<!-- <shl-edit-user [user]="userClaims"></shl-edit-user> -->
<!-- <div class="row" *ngIf="userClaims">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content">
        <span>Username :{{userClaims.UserName}}</span>
        <br>
        <span>Email : {{userClaims.Email}}</span>
        <br>
        <span>Full Name : {{userClaims.FirstName}} {{userClaims.LastName}}</span>
        <br>
        <span>Logged On : {{userClaims.LoggedOn}}</span>
      </div>
    </div>
  </div>
</div>
 -->
