

.felx-container {
  display: flex;
  background-color: #018F59;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  span {
    color: white;
    margin: .8rem;
    width: 120px;


  }

}
