<h1>{{items.name}}</h1>

<form class="lend-form" (ngSubmit)="onChangeData(lendform)" #lendform="ngForm">
  <mat-form-field>
    <input matInput name="studentid" placeholder="Person id" required ngModel>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput name="startdate" [matDatepicker]="startpicker" placeholder="Choose a Startdate">

    <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
    <mat-datepicker #startpicker></mat-datepicker>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput name="enddate" [matDatepicker]="endpicker" placeholder="Choose a Enddate">
    <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
    <mat-datepicker #endpicker></mat-datepicker>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput name="annotation" placeholder="annotation" ngModel>


  </mat-form-field>
  <br>
  <button mat-raised-button color="green" type="submit">Save Edit</button>
</form>
