/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

mat-form-field{
  margin-left: 5px;
}
